% -*- mode: erlang -*-
{require_min_otp_vsn, "R17"}.

{erl_opts, [debug_info, {src_dirs, ["src"]}]}.

{cover_enabled, true}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{dialyzer_opts, [{warnings, [no_return,
                             no_unused,
                             no_improper_lists,
                             no_fun_app,
                             no_match,
                             no_opaque,
                             no_fail_call,
                             error_handling,
                             race_conditions,
                             behaviours,
                             unmatched_returns]}]}.
{deps, [
	{esockd, ".*", {git, "https://github.com/emqtt/esockd.git", "emqx30"}}
]}.
